<!--A partial that displays a message if cart is empty. otherwise, show added products-->
<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Your shopping cart is empty. Click home to start shopping!
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  <h4 class="text-right">Total Price: <span style="color: blue"><%= number_to_currency current_order.subtotal %></span></h4>
  <td><%= button_to 'Go to checkout', '#' , class: "btn btn-m btn-primary" %>
<% end %>