<h1>Product search</h1>
<%= form_tag(searchproducts_path, remote:true, id: "search_form") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<div id="results">
  <!-- renders the Products for Sale table -->
  <%= render @products %>
</div>

